.section-three{   
        height: 200px;
        margin: 0px auto;
        display: flex;
        flex-flow: wrap row;
        justify-content:space-around;    
        align-items: center;
    }
    .icon-wraps{     
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: wrap column;
    }
    .icon-wraps img{
        
        border-radius: 50px;
    }
    .icon-wraps .icon{
        width: 120px;
        text-align: center;
        margin-top: 10px;        
    }
    .icon-wraps:first-child{
        margin-top: 30px;
    }
    .icon-wraps a{
        text-decoration: none;
        color: black ;
       font-weight: 200;
       transition: 200ms all;
    }
    .icon-wraps a:hover{    
       color: #264b5d;
       font-weight: 600;
    }
    