@font-face {
  font-family: 'Myriad';
  src: url(./css/MyriadProBold.ttf);
}
.App {
  
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: 700;
    font-style: normal;

}

.App-header {
  font-family: Myriad;
  font-weight: lighter;
  font-style: normal;  
  margin: 0px auto ;
  
 
}


